#pagPaal, #pagAcierto, #pagFallo,#pagNivel,#pagFin{
	display: none;
}

body{
    background-image: url(../images/fondoSonidos.png);
}

#contPuntuacion{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
}

#contPuntuacion p{
    display: inline-block;
    margin: 5px 10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    float:right;
    background-image: url(../images/fondoBotones.png);
    border: 3px outset #8b4513;
}

#contAnimales{
    position: fixed;
    top: 55px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.arriba3 div{
    display: inline-block;
    width: 49.5%;
    margin: auto;
}

#contAnimales div div:nth-child(1){
    display: block;
    margin: 20px 0;
}

.arriba3 div img{
    padding: 10px 10%;
    min-height: 80px;
}

.arriba7 div{
    display: inline-block;
    width: 49.5%;
    margin: auto;
}

arriba7 div:nth-child(2),arriba7 div:nth-child(3),arriba7 div:nth-child(4){
    width: 33.3%;
}

.arriba7 div img{
    padding: 10px 10%;
    min-height: 80px;
}

arriba7 div:nth-child(2) img,arriba7 div:nth-child(3) img,arriba7 div:nth-child(4) img{
    padding: 10px 7%;
}

.arriba8 div{
    display: inline-block;
    width: 49.5%;
    margin: auto;
}

arriba8 div:nth-child(2),arriba7 div:nth-child(3),arriba7 div:nth-child(4),arriba7 div:nth-child(5),arriba7 div:nth-child(6),arriba7 div:nth-child(7){
    width: 33.3%;
}

.arriba8 div img{
    padding: 10px 10%;
    min-height: 80px;
}

arriba8 div:nth-child(2) img,arriba8 div:nth-child(3) img,arriba8 div:nth-child(4) img,arriba8 div:nth-child(5) img,arriba8 div:nth-child(6) img,arriba8 div:nth-child(7) img{
    padding: 10px 7%;
}

